.amarillo {
  color: goldenrod;
  font-weight: bold;
}

.verde {
  color: green;
  font-weight: bold;
}

.naranja {
  color: orange;
  font-weight: bold;
}

.rojo {
  color: red;
  font-weight: bold;
}
